<h2><a href="/user/<%= @user_request.user.id %>"><%= @user_request.user.name %></a> needs help with: <%= @user_request.title %></h2>
<p>Phase: <%= @user_request.phase %></p>
<% if @user_request.url? %>
  <p>Challenge URL:<br> <a href="<%= @user_request.url %>"><%= @user_request.url %></a></p>
<% end %>
<p>What I think is happening:<br> <%= @user_request.problem_desc %></p>
<p>What I tried:<br> <%= @user_request.tried_desc %></p><br>
<% if current_user %>
  <% if current_user == @user_request.user || current_user.is_admin? %>
    <form action='/request/<%= @user_request.id %>' method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="button alert" value="Submit">Close Help Request</button>
    </form>
  <% end %>
<% end %>

<a href="/">Back to Help Requests</a>
