<div class="small-8 small-centered columns">
  <div class="panel admin-panel">
    <h2 class="admin-panel-header">Admins</h2>
    <div class="row">
      <% @admins.each do |admin| %>
        <div class="small-8 columns">
          <ul class="square">
            <li><a href="/user/<%= admin.id %>"><%= admin.name %></a></li>
          </ul>
        </div>
        <div class="small-4 columns">
          <form action="/user/<%= admin.id %>/revoke" method="POST" class="revoke-form">
            <input type="hidden" name="_method" value="PUT">
            <input type="submit" class="link-button red-txt" value="Revoke Admin" />
          </form>
        </div>
      <% end %>
    </div>
    <h2 class="admin-panel-header">Users</h2>
    <div class="row">
      <% @users.each do |user| %>
        <div class="small-8 columns">
          <ul class="square">
            <li><a href="/user/<%= user.id %>"><%= user.name %></a><br></li>
          </ul>
        </div>
        <div class="small-4 columns">
          <form action="/user/<%= user.id %>/promote" method="POST" class="admin-user-form">
            <input type="hidden" name="_method" value="PUT">
            <input type="submit" class="link-button green-txt" value="Make Admin" />
          </form>
          <form action="/user/<%= user.id %>" method="POST" class="admin-user-form">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="link-button red-txt" value="Delete User" />
          </form>
        </div>
      <% end %>
    </div>
  </div>
</div>
