<h2 class="text-center">Help Requests</h2>
<div class="row">
  <div class="small-12 small-centered columns">
    <% @user_requests.each_with_index do |request, index| %>
      <div class="large-8 columns <%= "gray-background" if index % 2 == 1 %>">
        Phase <%= request.phase %>: <a href="/user/<%= request.student_id %>"><%= request.student.name %></a> - <a href="/request/<%= request.id %>" class="purple-txt"><%= h request.title[0..41] %>..</a>
      </div>
      <div class="large-4 columns <%= "gray-background" if index % 2 == 1 %>">
        <% if request.coach_id.blank? %>
          <form action="/request/<%= request.id %>" method="POST">
            <input type="hidden" name="_method">
            <input type="submit" class="link-button" value="Help" />
          </form>
        <% else %>
          - Coach <%= request.coach.name %> is helping.
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<a href="/coaches">
  <% if @coaches.count == 0 %>
    No Coaches Available
  <% elsif @coaches.count == 1 %>
    <%= @coaches.count %> Coach Available
  <% else %>
    <%= @coaches.count %> Coaches Available
  <% end %>
</a><br>
<% if @help_needed_requests.count > 0 %>
  <%= @help_needed_requests.count %> request(s) needing assistance.
<% end %>
<a href="/request/new">Create a Help Request</a>
